


h1.headertittle {
    font-size: 50px;
    color: #AD9BC7;
}

p.headertext {
    font-size: 28px;
    color: black;
}

a {
    color: #8461b6;
}

a:hover {
    color: #523d70;
}

h1 {
    padding-top: 5%;
    padding-bottom: 2%;
    color: #987cbe;
    text-align: center;
}

h3 {
    padding-bottom: 8px;
    padding-top: 10px;
    color: #32aaaa;
}

p {
    font-size: 20px;
}

.size {
    font-size: 30px
}

.nav-tam {
    font-size: 22px;
}


@media (min-width: 500px) {
    .espaço {
        padding-top: 5%;
        padding-bottom: 28%;
        padding-left: 10%;
    }
}

.imgtam {
    max-width: 80%;
    margin-left: 12%;
}

@media (min-width: 1000px){

    .espaço {
        padding-top: 25%;
        padding-bottom: 28%;
        padding-left: 10%;
    }
    
    .imgtam {
        max-width: 100%;
        padding-left: 15px;
    }

    }

.espc {
    width: 75%;
    padding-left: 26%;
}

.espc2 {
    width: 65%;
    padding-left: 35%;
}

.exp {
    width: 100%;
    border-radius: 15px;
}

.animation {
    width: 400px;
    margin: 15px;
  }
  .animation img{
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
  }
  .animation img:hover {
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
  }

  .tamanhogal {
      max-width: 90%;
      padding: 10%;
      margin-left: 5%;
      border-radius: 18%;
  }

  .tamanhogal2 {
   margin-top: 24%;
    max-width: 90%;
    border-radius: 10%;
    margin-left: 5%;
}

.tamanhogal3 {
    max-width: 90%;
    padding: 10%;
    margin-top: 25px;
    margin-left: 5%;
    border-radius: 18%;
}

.galeria {
    align-items: center;
    background-color: #E2F7EE;
}

@media (min-width:500px) {
    .espaço2 {
        padding-bottom: 8%;
    }
    
}

@media (min-width:1000px) { 
    .espaço2 {
        margin: 15%;
    }
}

.contato {
    max-width: 20%;
    margin-left: 39%;
}

h4 {
    padding-top: 3%;
    padding-bottom: 3%;
}

.fundo {
    width: auto;
    background-color: #b7e3d4;
    padding-top: 3%;
    margin-bottom: 5%;
    border-style: double;
    align-items: center;
}

html {
    scroll-behavior: smooth;
}